a:link {
  color: #91ffe0;
}

a:visited {
  color: #b5d06d;
}

a:hover {
  color: #d9f68a;
}

.modallink {
  color: #91ffe0;
}

.modallink:hover {
  color: #d9f68a;
}

.inarea {
  border-color: #d5d5d5;
}

.tab-list-active {
  background-color: #7b7b7b;
}

tr:nth-child(even) {
  background-color: #505050;
}

.chatbox {
  background-color: rgba(59, 59, 59, 0.8);
}

.actionbuttons, .coorbox, .onlinebox, .cooldownbox, .palettebox, #historyselect, .notifybox {
  background-color: rgba(59, 59, 59, 0.8);
  color: #f4f4f4;
}

.menu > div {
  z-index: 1;
  background-color: #15374fd1;
}

.Modal {
  background: #444242 none repeat scroll 0 0;;
  color: #f4f4f4;
}

.modaltext, .modalcotext {
  color: #f4f4f4;
}

.modaltitle {
  color: #d7e5fb;
}

.modaldesc {
  color: hsla(220, 100%, 95.3%, 0.6);
}

.modaldivider {
  background-color: hsla(216, 4%, 74%, .3);
}

.modalinfo {
  color: #ddd;
}

.modalcvtext {
  color: hsla(220, 100%, 95.3%, 0.6);
}

.ModalClose {
  background-color: #55555d;
  border-color: #dcddde;
}

.ModalClose:hover {
  background-color: #6f6f75;
}

.Overlay {
  background-color: rgba(187, 187, 187, 0.75);
}

.chatmsg {
  color: white;
}
.msg.info{
  color: #ff91a6;
}
.msg.greentext{
  color: #94ff94;
}

#chatlink {
  color: #f9edde;
}

.statvalue {
  color: #ecc9ff;
}

.notifybox.green, .notifybox.red {
  color: black;
}

.actionbuttons:hover, .coorbox:hover, .menu > div:hover {
  background-color: #363637;
}

#outstreamContainer {
  background-color: black;
}
