.chatbox {
  border-radius: 8px;
}

.actionbuttons, .coorbox, .onlinebox, .cooldownbox, #historyselect {
  border-radius: 21px;
}

.Modal {
  border-radius: 21px;
}

.notifyboxvis, .notifyboxhid {
  border-radius: 21px;
}
